{% extends "base.html" %}

{% block content %}


<div class="container mt">
        <div class="row">
            <div class="col">
                <div class="mw-100 mh-100">
                <form action = '/Pages/Inventory' method = 'GET'>
                <button type="submit" class="btn btn-primary btn-lg mt-5" >Inventory</button>
                </form>
                </div>
            </div>
          <div class="col">
            <div class="col">
                <div class="mw-100 mh-100">
                <form action = '/Pages/Craft' method = 'GET'>
                <button type="submit" class="btn btn-primary btn-lg mt-5" >Craft</button>
                </form>
                </div>
            </div>
          </div>
        </div>



    



{% endblock %}