{% extends "base.html" %}

{% block content %}

<h1>Register</h1>
<form action = '/signup' method='POST'>
   <label>
       Username
       <input type="text" name='username' />
   </label>{{error_username}}<br>
   <label>
       Password
   <input type="password" name='password' />
   </label>{{error_password}}<br>
   <label>
       Retype Password
   <input type="password" name='verify_password' />
   </label>{{error_verify_password}}<br>

   <input type="submit" value='Register' />
</form>

{% endblock %}